{% extends "@AdminBundle/Resources/views/Event/base.html.twig" %}

{% block content %}
    <h1>
        <span>Event manager</span>
        <a class='btn btn-primary float-sm-right' href="#">Add new event</a>
    </h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Slug</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>event1</td>
            <td><a href="#">Edit</a></td>
            <td><a href="#" data-toggle="modal" data-target="#deleteModal">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>event2</td>
            <td><a href="#">Edit</a></td>
            <td><a href="#" data-toggle="modal" data-target="#deleteModal">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>event3</td>
            <td><a href="#">Edit</a></td>
            <td><a href="#" data-toggle="modal" data-target="#deleteModal">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>event4</td>
            <td><a href="#">Edit</a></td>
            <td><a href="#" data-toggle="modal" data-target="#deleteModal">Delete</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
