{% extends "@AdminBundle/Resources/views/base.html.twig" %}

{% block content %}
    <h2>Add new language</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <!--<form action="languages.html">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Language</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Slovak">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Code</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="sk_SK">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8 offset-sm-4">
                        <button type="submit" class="btn btn-primary">Create language</button>
                    </div>
                </div>
            </form>-->
        </div>
    </div>
{% endblock %}
