<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <em>{{ label }}</em>: {{ message }}<br>
        {% endfor %}
    {% endfor %}
    {% block content %}{% endblock %}
</body>
</html>
