<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nobelists</title>

    {% stylesheets 'assets/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
    {% block navigation %}
    {% endblock %}
    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>

    {% javascripts
        'assets/js/jquery-3.1.1.slim.min.js'
        'assets/js/tether.min.js'
        'assets/js/*'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
