{% extends "@AdminBundle/Resources/views/base_admin.html.twig" %}

{% block content %}
    <h2>Add organizer</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-sm-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <!--<form action="organizers.html">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">E-mail</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8 offset-sm-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>-->
        </div>
    </div>
{% endblock %}
