body {
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
form label {
    text-align: right;
}
.tab-pane {
    margin-top: 20px;
}

.log ul {
    display: table-row;
}
.ui-widget-content.log {
    height: 100px;
    width: 300px;
    overflow: scroll;
}
.ui-helper-hidden-accessible {
    display:none;
}
#pageOfAllPages {
    margin-left: 15px;
    height: 38px;
}
#pageOfAllPages span {
    position: relative;
    top: 7px;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 60vh;
    overflow-y: auto;
}
#pageOfAllPages {
    margin-left: 15px;
    height: 38px;
}
#pageOfAllPages span {
    position: relative;
    top: 7px;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 60vh;
    overflow-y: auto;
}

.btn-primary {
    margin-bottom: 8px;
}
